# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Курсовая Дима Ушелев\1 этап\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
